# ======================
# Visual Studio / C#
# ======================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.pdb
*.cache
*.dbmdl
*.bak
*.log
*.obj
*.exe
*.dll
*.zip
*.nupkg
*.psess
*.vsp
*.vspx
*.vsix
_ReSharper*/
[Tt]est[Rr]esult*/
[Bb]uild/
[Bb]in/
[Oo]bj/

# ======================
# C++ / C
# ======================
*.o
*.obj
*.gch
*.pch
*.out
*.exe
*.dll
*.lib
*.a
*.so
*.dylib
*.exe
*.log
*.cache
build/
Debug/
Release/

# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.log
*.sqlite3
.env
.venv/
venv/
ENV/
env/
.ipynb_checkpoints/

# ======================
# JetBrains IDE (PyCharm, IntelliJ, Rider)
# ======================
.idea/
*.iml
*.iws
out/

# ======================
# VS Code
# ======================
.vscode/
*.code-workspace

# ======================
# OS / system
# ======================
.DS_Store
Thumbs.db
desktop.ini
*.tmp
